@model WebApplication2.Models.CreateLeaveAllocationVM

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

@*<p>
    <a asp-action="Create">Create New</a>
</p>*@
<table class="table">
    <thead>
        <tr>
            @*<th>
                @Html.DisplayNameFor(model => model.Id)
            </th>*@
            <th>
                @*@Html.DisplayNameFor(model => model.Name)*@
                Leave Types
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.DefaultDays)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateCreated)
            </th>*@
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.LeaveTypes) {
        <tr>
            @*<td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.DefaultDays)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateCreated)
            </td>*@
            <td>
                @*@Html.ActionLink("Allocate to Employees", "SetLeave", new {id=item.Id  }, new {@class="btn btn-success"})*@
                @*@Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })*@
                <a class="btn btn-outline-success" asp-action="SetLeave" asp-route-id="@item.Id">
                    <i class="fas fa-user-edit"></i> Allocate to Employees
                </a>
            </td>
        </tr>
}
    </tbody>
</table>
